/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

div.ccm-page header #header-site-title {font-family: 'Titillium Web';
 font-weight: 400;
 color: #75ca2a;
 text-transform: none;
 line-height: 1.15em;
 font-size: 2.3em;
 -webkit-transition: color .2s linear;
 -o-transition: color .2s linear;
 transition: color .2s linear
}